# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.97,68,100,22.37,overcast clouds
1,1,Lastoursville,GA,-0.8143,12.7287,73.45,92,68,0.47,light rain
2,2,Luderitz,NaN,-26.6481,15.1594,59.79,82,0,11.97,clear sky
3,3,Aykhal,RU,66.0000,111.5000,0.68,97,100,12.93,light snow
4,4,Hilo,US,19.7297,-155.0900,74.12,79,1,1.99,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your desired minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 20
What is your desired maximum temperature for your trip? 40

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.97,68,100,22.37,overcast clouds
15,15,Jiuquan,CN,39.7432,98.5174,31.77,54,33,1.14,scattered clouds
22,22,Hofn,IS,64.2539,-15.2082,39.22,81,75,5.75,broken clouds
30,30,Sheridan,US,44.8333,-106.9173,33.31,66,4,2.82,clear sky
44,44,Ayagoz,KZ,47.9714,80.4392,26.91,91,100,5.57,overcast clouds
55,55,Baykit,RU,61.6700,96.3700,23.70,89,100,10.78,overcast clouds
82,82,Valleyview,CA,55.0667,-117.2859,21.18,78,68,5.01,broken clouds
90,90,Moose Factory,CA,51.2585,-80.6094,29.97,65,100,15.52,overcast clouds
97,97,Bonavista,CA,48.6499,-53.1147,34.63,84,100,14.20,overcast clouds
110,110,Longyearbyen,SJ,78.2186,15.6401,22.84,68,0,14.97,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.97,68,100,22.37,overcast clouds
15,15,Jiuquan,CN,39.7432,98.5174,31.77,54,33,1.14,scattered clouds
22,22,Hofn,IS,64.2539,-15.2082,39.22,81,75,5.75,broken clouds
30,30,Sheridan,US,44.8333,-106.9173,33.31,66,4,2.82,clear sky
44,44,Ayagoz,KZ,47.9714,80.4392,26.91,91,100,5.57,overcast clouds
55,55,Baykit,RU,61.6700,96.3700,23.70,89,100,10.78,overcast clouds
82,82,Valleyview,CA,55.0667,-117.2859,21.18,78,68,5.01,broken clouds
90,90,Moose Factory,CA,51.2585,-80.6094,29.97,65,100,15.52,overcast clouds
97,97,Bonavista,CA,48.6499,-53.1147,34.63,84,100,14.20,overcast clouds
110,110,Longyearbyen,SJ,78.2186,15.6401,22.84,68,0,14.97,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

        City Country  Max Temp Current Description      Lat       Lng
0   Tasiilaq      GL     30.97     overcast clouds  65.6145  -37.6368
15   Jiuquan      CN     31.77    scattered clouds  39.7432   98.5174
22      Hofn      IS     39.22       broken clouds  64.2539  -15.2082
30  Sheridan      US     33.31           clear sky  44.8333 -106.9173
44    Ayagoz      KZ     26.91     overcast clouds  47.9714   80.4392

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.97,overcast clouds,65.6145,-37.6368,
15,Jiuquan,CN,31.77,scattered clouds,39.7432,98.5174,
22,Hofn,IS,39.22,broken clouds,64.2539,-15.2082,
30,Sheridan,US,33.31,clear sky,44.8333,-106.9173,
44,Ayagoz,KZ,26.91,overcast clouds,47.9714,80.4392,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.97,overcast clouds,65.6145,-37.6368,The Red House
15,Jiuquan,CN,31.77,scattered clouds,39.7432,98.5174,Jiuquan Hotel
22,Hofn,IS,39.22,broken clouds,64.2539,-15.2082,Hótel Höfn
30,Sheridan,US,33.31,clear sky,44.8333,-106.9173,Comfort Inn & Suites
44,Ayagoz,KZ,26.91,overcast clouds,47.9714,80.4392,Gostinitsa Nur

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
hotel_df.isna().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [22]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [23]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df2 = clean_hotel_df.loc[(hotel_df["Hotel Name"] != "")]

# Display sample data
clean_hotel_df2.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tasiilaq,GL,30.97,overcast clouds,65.6145,-37.6368,The Red House
15,Jiuquan,CN,31.77,scattered clouds,39.7432,98.5174,Jiuquan Hotel
22,Hofn,IS,39.22,broken clouds,64.2539,-15.2082,Hótel Höfn
30,Sheridan,US,33.31,clear sky,44.8333,-106.9173,Comfort Inn & Suites
44,Ayagoz,KZ,26.91,overcast clouds,47.9714,80.4392,Gostinitsa Nur
82,Valleyview,CA,21.18,broken clouds,55.0667,-117.2859,Paradise Inn & Suites
90,Moose Factory,CA,29.97,overcast clouds,51.2585,-80.6094,Moosonee Lilypad
97,Bonavista,CA,34.63,overcast clouds,48.6499,-53.1147,Sweet Sharons bnb
110,Longyearbyen,SJ,22.84,clear sky,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
111,Hohhot,CN,35.56,overcast clouds,40.8106,111.6522,Sheraton Hohhot Hotel
118,Mikhaylovka,RU,38.70,few clouds,50.0600,43.2379,5 Komnat
119,Yellowknife,CA,21.56,overcast clouds,62.4560,-114.3525,The Explorer Hotel
123,Sitka,US,39.09,broken clouds,57.0531,-135.3300,Westmark Sitka
134,Kondinskoye,RU,32.41,light snow,59.6481,67.4100,Gostinitsa
147,Severo-Kurilsk,RU,34.39,overcast clouds,50.6789,156.1250,Kak Doma
152,Salym,RU,30.24,overcast clouds,60.0625,71.4789,Gostinitsa Salym
175,Hami,CN,33.82,clear sky,42.8000,93.4500,Laoyutang Resort
179,Okha,RU,24.15,overcast clouds,53.5739,142.9478,Sakhalin-Sfera
182,Rize,TR,34.97,broken clouds,40.9044,40.8949,Zilkale Otel
185,Dobryanka,RU,38.98,overcast clouds,58.4619,56.4165,Apartment on Zhukovskogo 19

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [24]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df2.to_csv(output_data_file, index_label= "City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [25]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [26]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df2.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>The Red House</dd>\n<dt>City</dt><dd>Tasiilaq</dd>\n<dt>Country</dt><dd>GL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 30.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Jiuquan Hotel</dd>\n<dt>City</dt><dd>Jiuquan</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 31.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hótel Höfn</dd>\n<dt>City</dt><dd>Hofn</dd>\n<dt>Country</dt><dd>IS</dd>\n<dt>Current Weather</dt><dd>broken clouds and 39.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Comfort Inn & Suites</dd>\n<dt>City</dt><dd>Sheridan</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 33.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gostinitsa Nur</dd>\n<dt>City</dt><dd>Ayagoz</dd>\n<dt>Country</dt><dd>KZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 26.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn & Suites</dd>\n<dt>City</dt><dd>Valleyview</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 21.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Moosonee Lilypad</dd>\n<dt>City</dt><dd>Moose Factory</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 29.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sweet Sharons bnb</dd>\n<dt>City</dt><dd>Bonavista</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 34.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Polar Hotel, Spitsbergen</dd>\n<dt>City</dt><dd>Longyearbyen</dd>\n<dt>Country</dt><dd>SJ</dd>\n<dt>Current Weather</dt><dd>clear sky and 22.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Hohhot Hotel</dd>\n<dt>City</dt><dd>Hohhot</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 35.56 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [27]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df2[["Lat", "Lng"]]

# Display sample data
locations.head(10)

         Lat       Lng
0    65.6145  -37.6368
15   39.7432   98.5174
22   64.2539  -15.2082
30   44.8333 -106.9173
44   47.9714   80.4392
82   55.0667 -117.2859
90   51.2585  -80.6094
97   48.6499  -53.1147
110  78.2186   15.6401
111  40.8106  111.6522

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [32]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))